{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended", // eslint-plugin-typescript-eslint
    "prettier",
    "plugin:prettier/recommended",
    "plugin:import/typescript"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "import/extensions": "off",
    // "max-len": [1, 100, 2],
    "max-classes-per-file": ["error", 10],
    "no-use-before-define": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "import/no-cycle": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "warn",
    "import/prefer-default-export": "off"
  }
}
